# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Visual Studio / .NET
.vs/
bin/
obj/
*.user

# SQLite
*.db
*.db-shm
*.db-wal
/backend/Formify/Formify.Server/obj/Debug/net10.0/Formify.Server.assets.cache
/backend/Formify/Formify.Server/obj/Formify.Server.csproj.nuget.dgspec.json
/backend/Formify/Formify.Server/obj/Formify.Server.csproj.nuget.g.props
/backend/Formify/Formify.Server/obj/Formify.Server.csproj.nuget.g.targets
/backend/Formify/Formify.Server/obj/project.assets.json
/backend/Formify/Formify.Server/obj/project.nuget.cache
/.gitignore
/.gitignore
